<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/CaixaAqui/caixaaqui.css")
    @RenderSection("head", false)

    <link rel="apple-touch-icon" href="~/Content/CaixaAqui/images/apple-touch-icon.png" />
    <meta name="msapplication-config" content="none" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>Caixa Aqui - Caixa Econômica Federal</title>

    <!-- W3C: o valor do atributo "align" foi mudado de "baseline" para middle, pois "baseline" não é válido no padrão W3C -->
    <object id="objectPinpad" name="objectPinpad" classid="clsid:CDF1CDEC-92FD-11D4-B919-006008C8E39C" align="middle" border="0" width="0" height="0"></object>
    <script type="text/vbscript" language="vbscript" src="~/Content/CaixaAqui/pinpad.vbs"></script>
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Content/CaixaAqui/geral.js")
    @Scripts.Render("~/Content/CaixaAqui/pinpad.js")
    @Scripts.Render("~/Content/CaixaAqui/cpf_cnpj.js")
    @RenderSection("scripts", false)
</body>
</html>